@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

/* -------------header-style---------------- */
body {

    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.container,
.container2 {
    width: 70%;
    margin: auto;
}

.container {
    display: flex;
    border-radius: 18px;
    background-color: black;
}

.text {
    padding: 5% 8% 5% 5%;
}

.section-title {
    color: white;
    font-weight: 700;
    font-size: 300%;
}

.section-text {
    color: white;
    margin-bottom: 50px;

}

.watch-now {
    color: white;
    width: 187px;
    background-color: red;
    text-align: center;
    border-radius: 5px;
}

.youtube {
    color: white;
    text-decoration: none;
}

.youtube,
.fa-solid {
    font-size: 125%;
    padding: 9% 2% 9% 2%;
}

.player-img {
    height: 100%;
    width: 98%;
    padding-right: 10px;
}

/*----------------- football matches ---------------- */
.container2 {
    margin-top: 5%;
}


.football {
    display: flex;
    margin-top: 50px;
}

button {
    display: block;
    width: 100px;
    height: 32px;
    font-size: 105%;
    background-color: white;
    border-radius: 8px;
}

.info,
.duration,
.chat {
    display: flex;
    align-items: center;
}

.duration {
    padding-right: 20%;
}

.football-macthes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
}

.football-match {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    margin: 0 8px 8px 8px;

}

.display {
    padding: 15px;
}

.side-menu {
    background-color: black;
    margin-right: 18px;
    padding: 15px;
    border-radius: 8px;
}

.menu {
    color: black;
    background-color: white;
    text-align: center;
    width: 225px;
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    font-size: 110%;
    font-weight: 400;
}

.upcoming-match {
    color: black;
    text-decoration: none;
}

.blog {
    background-color: red;
    color: white
}

.tablet {
    display: none;
}

/*------------------------- footer section ----------------------- */
.bottom {
    background-color: black;
    margin-top: 5%;
}

.goal {
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: 500;
    padding-top: 7%;
}

hr {
    border: 1px solid #131313;
    width: 1100px;
    height: 0px;

}

.about-us {
    display: flex;
    margin-left: 30%;
}

.about {
    color: #b9b9b9;
    padding: 20px;
}

.social-media {
    margin-left: 43%;
}

.fa-brands {
    color: white;
    font-size: 200%;
    padding: 10px;
}

/*------------------------ media query for mobile devices-------------------- */
@media only screen and (max-width:688px) {

    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .section-title {
        text-align: center;
        font-size: 180%;
    }

    .section-text {
        text-align: center;
    }

    .watch-now {
        margin: auto;
    }

    .player-img {
        width: 100%;
    }

    .container2 {
        width: 100%;
    }

    .football {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .side-menu {
        background-color: white;
        margin-left: 8%;
    }

    .menu {
        border: 1px solid #e8e8e8;
        align-items: center;
    }

    .football-macthes {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-items: center;

    }

    .football-match {
        width: 87%;
    }

    .tablet {
        display: none;
    }

    .bottom {
        width: 100%;
    }

    hr {
        width: 100%;
    }

    .about-us {
        display: block;
        margin-left: 0;
    }

    .about {
        text-align: center;
    }

    .social-media {
        margin-left: 22.5%;
    }

}


/*-----------------------------media query for tablet devices------------------------------- */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .text {
        padding: 15px;
    }

    .player-img {
        width: 80%;
    }

    .container2 {
        width: 100%;
    }

    .football {
        flex-direction: column;
        width: 100%;
    }

    .side-menu {
        display: flex;
        background-color: white;
        width: 100%;
    }

    .menu {
        border: 2px solid #e8e8e8;
    }

    .football-macthes {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
    }

    .football-match {
        margin-top: 10px;
    }

    .tablet {
        display: inherit;
        width: 131px;
        height: 47px;
        margin-left: 45%;
        margin-top: 50px;
    }

    .view {
        background-color: red;
        border-radius: 5px;
        padding: 10%;
        text-align: center;
    }

    .view-all {
        color: white;
        text-decoration: none;


    }

    .bottom {
        width: 100%;
    }

    hr {
        width: 100%;
    }

    .about-us {
        margin-left: 0;
    }

    .about {
        width: 100%;
    }

    .social-media {
        margin-left: 40%;
    }
}