@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

/* -------------header-style---------------- */
body {

    font-family: 'Poppins', sans-serif;
}

main {
    width: 1321px;
    height: 646px;
    margin: auto;
}

.container {
    display: flex;
    border-radius: 18px;
    background-color: black;
}

.text {
    padding: 5% 8% 5% 5%;
}

.section-title {
    color: white;
    font-weight: 700;
    font-size: 300%;
}

.section-text {
    color: white;
    margin-bottom: 50px;

}

.watch-now {
    color: white;
    width: 187px;
    background-color: red;
    text-align: center;
    border-radius: 5px;
}

.youtube {
    color: white;
    text-decoration: none;
}

.youtube,
.fa-solid {
    font-size: 125%;
    padding: 9% 2% 9% 2%;
}

.player-img {
    height: 613px;
    width: 581px;
    padding-right: 10px;
}

/* ----------------------upcoming matches --------------------- */

.side-menu {
    background-color: black;
    margin-right: 18px;
    padding: 15px;
    border-radius: 8px;
}

.menu {
    color: black;
    background-color: white;
    text-align: center;
    width: 225px;
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    font-size: 110%;
    font-weight: 400;
}

.blog {
    background-color: red;
    color: white
}

.football {
    display: flex;
    margin-top: 90px;
}

.upcoming-matches {
    width: 984px;
    height: 508px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.upcoming-match {
    border: 1px solid #e8e8e8;
    width: 240px;
    padding: 25px;

}

.flags {
    display: flex;
}

.vs {
    margin: 15px;
}

.match {
    text-align: center;
}

/*------------------------- footer section ----------------------- */
.bottom {
    width: 100%;
    height: 444px;
    background-color: black;
}

.goal {
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: 500;
    padding-top: 8%;
}

hr {
    border: 1px solid #131313;
    width: 1100px;
    height: 0px;

}

.about-us {
    display: flex;
    margin-left: 17.5%;
}

.about {
    color: #b9b9b9;
    padding: 20px;
}

.social-media {
    margin-left: 43%;
}

.fa-brands {
    color: white;
    font-size: 200%;
    padding: 10px;
}